<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Plan</h3>
    </div>
    <div class="panel-body">

        <form class="form">

            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" name="" ng-model="plan.nombre" id="input" class="form-control" required="required">
            </div>

            <button type="submit" ng-click="guardar()" class="btn btn-primary">Guardar</button>
            <a href="/#/" class="btn btn-default">Cancelar</a>
        </form>


    </div>
</div>