<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Búsqueda</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label>DNI:</label>
                <input ng-disabled="deshabilitado" type="text" ng-model="search.numero_doc" name="" id="input" class="form-control" value="" placeholder="Ej: 38826011">
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <input type="text" name="" ng-disabled="deshabilitado" ng-model="search.nombre" id="input" class="form-control" value="" placeholder="Montes">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="deshabilitado" ng-click="buscar()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
        </form>

    </div>
    <div class="panel-footer">
        <div class="form-inline">
            <div class="form-group">
                <select name="" id="input" ng-disabled="deshabilitado" class="form-control" ng-model="alumno" ng-disabled="!alumnos" ng-options="a as a.apellido+', '+a.nombre for a in alumnos">
                            <option ng-if="!deshabilitado" value="">Seleccionar alumno</option>
                        </select>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Notas</h3>
    </div>
    <div class="panel-body">

        <form class="form">
            <div class="form-group" ng-show="!deshabilitado">
                <select id="input" class="form-control" ng-change="alert('')" ng-model="curso" ng-disabled="!alumno" ng-options="i.curso as i.curso.nombre for i in alumno.inscripciones">
                            <option value="">Seleccionar curso</option>
                        </select>
            </div>
            <div ng-if="deshabilitado">
                <label>Curso:</label>
                <p>{{calificacion.curso.nombre}}</p>
            </div>

            <div class="form-group">

                <select name="" ng-disabled="deshabilitado" id="input" ng-model="calificacion.tipo" class="form-control">
                            <option ng-if="!deshabilitado" value="">Periodo/Tipo</option>
                            <option value="Anual">Anual</option>
                            <option value="1er cuatrimestre">1er cuatrimestre</option>
                            <option value="2do cuatrimestre">2do cuatrimestre</option>
                        </select>
            </div>

            <div class="form-group" ng-show="!deshabilitado">
                <select name="" id="input" class="form-control" ng-model="materia" ng-disabled="!curso" ng-options="m as m.nombre for m in curso.plan.materias">
                            <option value="">Seleccionar materia</option>
                        </select>
            </div>
            <div ng-if="deshabilitado"><label>Materia:</label>
                <p>{{calificacion.materia.nombre}}</p>
            </div>
            <div class="form-group">
                <lable>Nota</label>
                    <input class="form-control" ng-model="calificacion.nota" type="number"></input>
            </div>



            <button type="submit" ng-click="guardar()" class="btn btn-primary">Guardar</button>
        </form>


    </div>
</div>