<div class="page-header">
    <h2>Listado Planes</h2>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Búsqueda</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" name="" ng-model="search.nombre" id="input" class="form-control" />
                </div>
                <button type="submit" ng-click="buscar()" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</button>
            </form>
        </div>
    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Planes</h3>
    </div>
    <div class="panel-body">

        <table data-toggle="table" data-url="listaMaterias" data-sort-name="stargazers_count" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="plan" data-sortable="true">Plan</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in planes">
                    <td>{{p.nombre}}</td>
                    <td><a href="#/plan/modificar/{{p.id}}">Editar</a> | <a ng-click="eliminar(p.id)">Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>